<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="main">
      <form method="post" action="/">
        <h1>Contact us</h1>
        <input type="text" name="name" class="name" placeholder="Name" />
        <input type="email" name="email" class="email" placeholder="sample@gmail.com" />
        <button type="submit" class="button">Submit</button>
      </form>
    </div>
  </body>
</html>
 